@model IEnumerable<Repository.Entities.Book>
@{
    Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("en");
}
<div class="holder fullwidth full-nopad mt-0">
    <div class="container">
        <div class="bnslider-wrapper">
            <div class="bnslider bnslider--lg keep-scale" id="bnslider-001" data-slick='{"arrows": true, "dots": true}' data-autoplay="false" data-speed="12000" data-start-width="1917" data-start-height="764" data-start-mwidth="1550" data-start-mheight="1000">
                <div class="bnslider-slide">
                    <div class="bnslider-image-mobile lazyload" data-bgset="images/skins/fashion/slider/slide-fashion-02-m.webp"></div>
                    <div class="bnslider-image lazyload" data-bgset="images/skins/fashion/slider/slide-fashion-02.webp"></div>
                    <div class="bnslider-text-wrap bnslider-overlay ">
                        <div style="background-image: url('https://github.com/khoabm/A-Corner-Of-Books/blob/main/ACornerOfBooks/src/main/webapp/assets/images/5.jpg?raw=true'); background-repeat: no-repeat; background-size: cover;" class="bnslider-text-content txt-middle txt-right txt-middle-m txt-center-m">
                            <div class="bnslider-text-content-flex ">
                                <div class="bnslider-vert w-s-60 w-ms-100" style="padding: 0px">
                                    <div class="bnslider-text order-1 mt-sm bnslider-text--md text-center data-ini text-white" data-animation="fadeInUp" data-animation-delay="800" data-fontcolor="#282828" data-fontweight="700" data-fontline="1.5">We Are Books' Corner Store</div>
                                    <div class="bnslider-text order-2 mt-sm bnslider-text--xs text-center data-ini text-white-50" data-animation="fadeInUp" data-animation-delay="1000" data-fontcolor="#7c7c7c" data-fontweight="400" data-fontline="1.5">A great book should leave you with many experiences, and slightly exhausted at the end. You live several lives while reading.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bnslider-slide">
                    <div class="bnslider-image-mobile lazyload" data-bgset="images/skins/fashion/slider/slide-fashion-01-m.webp"></div>
                    <div class="bnslider-image lazyload" data-bgset="images/skins/fashion/slider/slide-fashion-01.webp"></div>
                    <div class="bnslider-text-wrap bnslider-overlay ">
                        <div style="background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg'); background-repeat: no-repeat; background-size: cover;" class="bnslider-text-content txt-middle txt-left txt-middle-m txt-center-m">
                            <div class="bnslider-text-content-flex ">
                                <div class="bnslider-vert w-s-60 w-ms-100" style="padding: 0px">
                                    <div class="bnslider-text order-1 mt-0 bnslider-text--md text-center data-ini" data-animation="fadeInUp" data-animation-delay="800" data-fontcolor="#282828" data-fontweight="700" data-fontline="1.5">Bring books of your own mind</div>
                                    <div class="bnslider-text order-2 mt-sm bnslider-text--xs text-center data-ini" data-animation="fadeInUp" data-animation-delay="1000" data-fontcolor="#7c7c7c" data-fontweight="400" data-fontline="1.5">Books Seller</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bnslider-arrows container-fluid">
                <div></div>
            </div>
            <div class="bnslider-dots container-fluid"></div>
        </div>
    </div>
</div>
<div class="holder holder-mt-xsmall">
    <div class="container">
        <div class="row vert-margin-small">
            <div class="col-sm">
                <a href="category.html" class="collection-grid-3-item image-hover-scale">
                    <div class="collection-grid-3-item-img image-container" style="padding-bottom: 93.68%">
                        <img data-src="https://st2.depositphotos.com/4256075/10111/v/600/depositphotos_101115550-stock-illustration-seamless-stack-of-books-education.jpg" class="lazyload fade-up" alt="Banner">
                        <div class="foxic-loader"></div>
                    </div>
                    <div class="collection-grid-3-caption-bg">
                        <h3 class="collection-grid-3-title">Accessories</h3>
                        <h4 class="collection-grid-3-subtitle">The&nbsp;Best&nbsp;Look&nbsp;Anywhere</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="category.html" class="collection-grid-3-item image-hover-scale">
                    <div class="collection-grid-3-item-img image-container" style="padding-bottom: 93.68%">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/skins/fashion/banner-fashion-2-04.webp" class="lazyload fade-up" alt="Banner">
                        <div class="foxic-loader"></div>
                    </div>
                    <div class="collection-grid-3-caption-bg">
                        <h3 class="collection-grid-3-title">Fashion</h3>
                        <h4 class="collection-grid-3-subtitle">Live&nbsp;According&nbsp;to&nbsp;Fashion</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="holder holder-mt-medium">
    <div class="container">
        <ul class="brand-grid flex-wrap justify-content- js-color-hover-brand-grid">
            <li>
                <a href="#" target="_self" class="d-block image-container" title="Brand">
                    <img class="lazyload fade-up" src="https://www.veritascapital.com/images/Portfolio/Logo/original/houghton-mifflin-harcourt-vector-logo.png" alt="Brand">
                </a>
            </li>
            <li>
                <a href="#" target="_self" class="d-block image-container" title="Brand">
                    <img class="lazyload fade-up" data-src="https://shop.scholastic.com/on/demandware.static/-/Sites-schl-egift-storefront-catalog/default/dwd8ddf74d/images/large/scholasticlogo.png" alt="Brand">
                </a>
            </li>
            <li>
                <a href="#" target="_self" class="d-block image-container" title="Brand">
                    <img class="lazyload fade-up" data-src="https://storage.googleapis.com/books-from-australia/2020/09/ss-logo-horizontal-cbs-blk.jpg" alt="Brand">
                </a>
            </li>
            <li>
                <a href="#" target="_self" class="d-block image-container" title="Brand">
                    <img class="lazyload fade-up" data-src="https://upload.wikimedia.org/wikipedia/commons/9/9f/S%26G_Logo.png" alt="Brand">
                </a>
            </li>
            <li class="visuallyhidden js-hidden">
                <a href="#" target="_self" class="d-block image-container" title="Brand">
                    <img class="lazyload fade-up" data-src="https://d3ialxc06lvqvq.cloudfront.net/wp-content/uploads/2021/08/17152735/macmillan-logo-red.png" alt="Brand">
                </a>
            </li>
            <li class="visuallyhidden js-hidden">
                <a href="#" target="_self" class="d-block image-container" title="Brand">
                    <img class="lazyload fade-up" data-src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/OUP_logo.svg/2560px-OUP_logo.svg.png" alt="Brand">
                </a>
            </li>
        </ul>
        <div class="text-center mt-3 d-md-none">
            <a href="#" class="btn btn--grey brands-show-more js-brands-show-more"><span>Show More</span><span>Show Less</span></a>
        </div>
    </div>
</div>
<div class="holder holder-mt-medium section-name-products-grid" id="productsGrid01">
    <div class="container">
        <div class="title-wrap text-center">
            <h2 class="h1-style">Collections</h2>
            @*<div class="title-wrap title-tabs-wrap text-center js-title-tabs">
                    <div class="title-tabs">
                        <h2 class="h3-style">
                            <a href="#"><span class="title-tabs-text theme-font">Novel</span></a>
                        </h2>
                        <h2 class="h3-style">
                            <a href="#"><span class="title-tabs-text theme-font">Comics</span></a>
                        </h2>
                        <h2 class="h3-style">
                            <a href="#"><span class="title-tabs-text theme-font">Others</span></a>
                        </h2>
                    </div>
                </div>*@
            <div class="title-wrap title-tabs-wrap text-center js-title-tabs">
                <div class="title-tabs">
                    <h2 class="h3-style">
                        <a href="#" data-tab="novel"><span class="title-tabs-text theme-font">Novel</span></a>
                    </h2>
                    <h2 class="h3-style">
                        <a href="#" data-tab="comics"><span class="title-tabs-text theme-font">Comics</span></a>
                    </h2>
                    <h2 class="h3-style">
                        <a href="#" data-tab="others"><span class="title-tabs-text theme-font">Others</span></a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="prd-grid-wrap">
            <div class="prd-grid-wrap position-relative">
                <div class="prd-grid data-to-show-4 data-to-show-lg-4 data-to-show-md-3 data-to-show-sm-2 data-to-show-xs-2 js-category-grid" id="partial-view-container">
                    @*@Html.Partial("_ModelPartialView")*@

                </div>
            </div>
        </div>
    </div>
</div>
<div class="holder holder-mt-medium ">
    <div class="container">
        <a href="https://bit.ly/3eJX5XE" target="_blank" class="bnr-wrap bnr-">
            <div class="bnr custom-caption image-hover-scale bnr--middle bnr--right bnr--fullwidth">
                <div class="bnr-img d-none d-sm-block image-container" style="padding-bottom: 41.36752136752137%">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/skins/fashion/banner-fashion2-full.webp" class="lazyload fade-up" alt="">
                </div>
                <div class="bnr-img d-sm-none image-container" style="padding-bottom: 74.3139407244786%">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/skins/fashion/banner-fashion2-full-m.webp" class="lazyload fade-up" alt="">
                </div>
                <div style="background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg); background-repeat: no-repeat; background-size: cover; padding: 4% 4%; " class="bnr-caption text-center">
                    <div class="bnr-caption-inside w-s-50 w-ms-100 title-wrap">
                        <h2 class="h1-style">The best trends<br class="d-sm-none"> of summer 2020</h2>
                        <div class="h-sub mt-0">eCommerce HTML Template</div>
                        <div class="bnr-btn inherit mt-sm order-3">
                            <div class="btn">Buy Now</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="holder">
    <div class="container">
        <div class="title-wrap text-center">
            <h2 class="h1-style">Most Favorite</h2>
            <div class="h-sub maxW-825">Go to check for our best</div>
        </div>
        <div class="prd-grid-wrap position-relative">
            <div class="prd-grid data-to-show-4 data-to-show-lg-4 data-to-show-md-3 data-to-show-sm-2 data-to-show-xs-2 js-category-grid" data-grid-tab-content>

                @foreach (var item in Model)
                {
                    <div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
                        <div class="prd-inside">
                            <div class="prd-img-area">
                                <a href="product.html" class="prd-img image-hover-scale image-container">
                                    <img data-src="@item.ImageLink" alt="Fashion Waist Bag" class="js-prd-img lazyload fade-up">
                                    <div class="foxic-loader"></div>
                                    <div class="prd-big-squared-labels">
                                    </div>
                                </a>
                                <div class="prd-circle-labels">
                                    <a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
                                    <a href="#" class="circle-label-qview js-prd-quickview prd-hide-mobile" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a>
                                </div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-info-wrap">
                                    <div class="prd-info-top">
                                        <div class="prd-rating"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
                                    </div>
                                    <div class="prd-rating justify-content-center">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            if (i < item.AverageRating)
                                            {
                                                <i class="icon-star-fill fill"></i>
                                            }
                                            else
                                            {
                                                <i class="icon-star-fill"></i>
                                            }
                                        }

                                    </div>
                                    <div class="prd-tag"><a href="#">@item.Author</a></div>
                                    <h2 class="prd-title book-title"><a href="product.html">@item.Title</a></h2>
                                    <div class="prd-description">
                                        @item.Description
                                    </div>
                                    <div class="prd-action">
                                        <form action="#">
                                            <button class="btn js-prd-addtocart" data-product='{"name": "Fashion Waist Bag", "path":"images/skins/fashion/products/product-25-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add To Cart</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="prd-hovers">
                                    <div class="prd-circle-labels">
                                        <div><a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
                                        <div class="prd-hide-mobile"><a href="#" class="circle-label-qview js-prd-quickview" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a></div>
                                    </div>
                                    <div class="prd-price">
                                        <div class="price-new">$ @item.Price</div>
                                    </div>
                                    <div class="prd-action">
                                        <div class="prd-action-left">
                                            <form action="#">
                                                <button class="btn js-prd-addtocart" data-product='{"name": "Fashion Waist Bag", "path":"images/skins/fashion/products/product-25-1.webp", "url":"product.html", "aspect_ratio":0.778}'>Add To Cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div class="holder holder-mt-medium">
    <div class="container">
        <div class="title-wrap text-center ">
            <h2 class="h1-style text-center"><a href="blog.html" title="View all">Latest From Us</a></h2>
            <div class="carousel-arrows" style="margin:0 auto 65px; width:50px;"></div>
        </div>
        <div class="post-prws post-prws-carousel post-prws--row js-post-prws-carousel" data-slick='{"slidesToShow": 3, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 2 }},{"breakpoint": 480,"settings": {"slidesToShow": 1 }}]}'>
            @if (ViewBag.BooksByDate != null)
            {
                foreach (var item in ViewBag.BooksByDate)
                {
                    <div class="post-prw-vert col">
                        <a href="blog-post.html" class="post-prw-img image-hover-scale image-container" style="padding-bottom: 54.44%">
                            <img height="100" class="fade-up w-100 lazyload" alt="The High-Street Brand Fashion" data-src="@item.ImageLink">
                        </a>
                        <h4 class="post-prw-title"><a href="blog-post.html">@item.Title</a></h4>
                        <div class="post-prw-links">
                            <div class="post-prw-date">
                                <i class="icon-calendar1"></i>
                                @item.AddedDate.ToString("MMMM d, yyyy")
                            </div>
                        </div>
                    </div>
                }
            }

            @*<div class="post-prw-vert col">
                    <a href="blog-post.html" class="post-prw-img image-hover-scale image-container" style="padding-bottom: 54.44%">
                        <img class="fade-up w-100 lazyload" alt="The High-Street Brand Fashion" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/skins/fashion/blog/blog-fashion-03.webp">
                    </a>
                    <h4 class="post-prw-title"><a href="blog-post.html">Trends to Try This Season</a></h4>
                    <div class="post-prw-links">
                        <div class="post-prw-date">
                            <i class="icon-calendar1"></i>
                            June 3, 2020
                        </div>
                    </div>
                </div>
                <div class="post-prw-vert col">
                    <a href="blog-post.html" class="post-prw-img image-hover-scale image-container" style="padding-bottom: 54.44%">
                        <img class="fade-up w-100 lazyload" alt="The High-Street Brand Fashion" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/skins/fashion/blog/blog-fashion-04.webp">
                    </a>
                    <h4 class="post-prw-title"><a href="blog-post.html">Working From Home</a></h4>
                    <div class="post-prw-links">
                        <div class="post-prw-date">
                            <i class="icon-calendar1"></i>
                            June 1, 2020
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>

