@using SE1611_PRN221_ASM.Helper
@inject IHttpContextAccessor HttpContextAccessor
@{
    string currentPath = Url.Page("/");
    var session = HttpContextAccessor.HttpContext.Session;
    var userSession = session.GetObject<UserSession>("UserSession");
    Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("en");
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from big-skins.com/frontend/foxic-html-demo/account-create.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Feb 2023 09:34:22 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/book-logo-1.ico" />
    <link href="~/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/vendor/vendor.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/fonts/icomoon/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css" integrity="sha512-gRH0EcIcYBFkQTnbpO8k0WlsD20x5VzjhOA1Og8+ZUAhcMUCvd+APD35FJw3GzHAP3e+mP28YcDJxVr745loHw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open%20Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link href="~/css/site.css" rel="stylesheet">

    <style>
        .book-title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    </style>
    @if (IsSectionDefined("StarRating"))
    {
        @RenderSection("StarRating")
    }
</head>
<body class="has-smround-btns has-loader-bg equal-height has-sm-container">
    <header class="hdr-wrap">
        <div class="hdr-content">
            <div class="container">
                <div class="row">
                    @*                        <div class="col-auto show-mobile">
                        <div class="menu-toggle"> <a href="#" class="mobilemenu-toggle"><i class="icon-menu"></i></a> </div>
                        </div>*@
                    <div class="col-auto hdr-logo">
                        <a asp-controller="Home" asp-action="Index" class="logo"><img style="max-height:40px" src="https://raw.githubusercontent.com/khoabm/A-Corner-Of-Books/main/ACornerOfBooks/src/main/webapp/User/imgs/book-logo-1.jpg" alt="Logo"></a>
                    </div>
                    <div class="hdr-nav hide-mobile nav-holder justify-content-center px-4" style="height: 75px;">
                        <ul class="mmenu mmenu-js mmenu--withlabels">
                            <li class="mmenu-item--simple">
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="mmenu-item--simple">
                                <a asp-controller="Book" asp-action="Index">Library</a>
                            </li>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ContactUs">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hdr-links-wrap col-auto ml-auto">
                        <div class="hdr-inline-link">
                            <div class="search_container_desktop">
                                <div class="dropdn dropdn_search dropdn_fullwidth">
                                    <a href="#" class="dropdn-link  js-dropdn-link only-icon"><i class="icon-search"></i><span class="dropdn-link-txt">Search</span></a>
                                    <div class="dropdn-content">
                                        <div class="container">
                                            <form method="get" asp-action="Index" asp-controller="Book" class="search search-off-popular">
                                                <input name="query" type="text" class="search-input input-empty" placeholder="What are you looking for?">
                                                <button type="submit" class="search-button"><i class="icon-search"></i></button>
                                                <a href="#" class="search-close js-dropdn-close"><i class="icon-close-thin"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (userSession == null)
                            {
                                <div class="dropdn dropdn_wishlist">
                                    <a href="#" class="dropdn-link js-dropdn-link" data-panel="#dropdnAccount">
                                        <i class="icon-heart"></i>
                                    </a>
                                </div>
                                <div class="dropdn dropdn_fullheight minicart">
                                    <a href="#" class="dropdn-link js-dropdn-link" data-panel="#dropdnAccount">
                                        <i class="icon-basket"></i>
                                    </a>
                                </div>
                                <div class="dropdn dropdn_account dropdn_fullheight">
                                    <a href="#" class="dropdn-link js-dropdn-link" data-panel="#dropdnAccount"><i class="icon-user"></i></a>
                                </div>
                            }
                            else
                            {
                                <div class="dropdn dropdn_wishlist">
                                    <a asp-controller="Favorite" asp-action="Index" class="dropdn-link only-icon wishlist-link ">
                                        <i class="icon-heart"></i>
                                        <span class="dropdn-link-txt">Wishlist</span>
                                        <span class="wishlist-qty">
                                            <span>@userSession.FavoriteItemCount</span>
                                        </span>
                                    </a>
                                </div>
                                <div class="dropdn dropdn_fullheight minicart">
                                    <a asp-controller="Cart" asp-action="Index" class="dropdn-link js-dropdn-link minicart-link" data-panel="#dropdnMinicart">
                                        <i class="icon-basket"></i>
                                        <span class="minicart-qty">
                                            <span>@userSession.CartItemCount</span>
                                        </span>
                                    </a>
                                </div>
                                <div class="dropdn dropdn_account dropdn_fullheight">
                                    <a asp-controller="Account" asp-action="Details" class="dropdn-link js-dropdn-link" data-panel="#dropdnAccount">
                                        <i class="icon-user"></i>
                                        <span style="display: block; text-align: center;">@userSession.FullName</span>
                                    </a>
                                </div>
                                @*                                <div class="dropdn dropdn_account dropdn_fullheight">
                                    <a asp-controller="Account" asp-action="Logout" class="dropdn-link"><i class="fas fa-sign-out-alt fa-2x"></i></a>
                                    </div>*@
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <div class="header-side-panel">
        <div class="dropdn-content account-drop" id="dropdnAccount">
            <div class="dropdn-content-block">
                <div class="dropdn-close"><span class="js-dropdn-close">Close<i class="icon-close-thin"></i></span></div>
                @if (userSession == null)
                {
                    <div class="dropdn-form-wrapper" style="text-align:center">
                        <h5><a asp-controller="Account" asp-action="SignIn">Login</a></h5>
                        <div class="form-wrapper">
                            <p>To access your whishlist, address book and contact preferences and to take advantage of our speedy checkout, create an account with us now.</p>
                            <p class="text-danger">@TempData["Error"]</p>
                            <form asp-action="SignIn" asp-controller="Account" method="post" style="text-align:left">
                                <div class="form-group">
                                    <input name="Email" type="email" class="form-control" placeholder="E-mail">
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input id="Password" name="Password" type="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="text-center">
                                    <a class="link-info text-decoration-underline" asp-controller="account" asp-action="signup">Don't have account yet? Go to <b>SignUp</b> <i class="fas fa-arrow-right"></i></a>
                                </div>
                                <div class="text-center">
                                    <button class="btn">Sign In</button>
                                </div>
                            </form>
                            <div style="opacity:0.8;" class="separator">or continue with</div>
                            <div class="text-center">
                                <button class="btn btn-primary" onclick="location.href='@Url.Action("Login", "Account", new { provider = "Google" })'">Google</button>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div>
                        <ul>
                            <li><h3 class="h-lined">Hello, @userSession.FullName</h3></li>
                            <li><a asp-controller="Account" asp-action="Details"><span>Account Details </span> <i class="icon-user"></i></a></li>
                            @if (userSession.AccountType == 1)
                            {
                                <li><a asp-controller="Account" asp-action="ChangePassword"><span>Change Password </span> <i class="icon-pencil"></i></a></li>
                            }
                            <li><a asp-controller="Favorite" asp-action="Index"><span>My Favorite </span> <i class="icon-heart"></i></a></li>
                            <li><a asp-controller="Order" asp-action="Index"><span>My Order History </span> <i class="icon-shopping-basket"></i></a></li>
                            <li> <a asp-controller="Account" asp-action="Logout"><span>Logout </span><i class="icon-login"></i></a></li>
                        </ul>
                    </div>
                }
            </div>
            <div class="drop-overlay js-dropdn-close"></div>
        </div>
        @*        <div class="dropdn-content minicart-drop" id="dropdnMinicart">
                <div class="dropdn-content-block">
                    <div class="dropdn-close"><span class="js-dropdn-close">Close</span></div>
                    <div class="minicart-drop-content js-dropdn-content-scroll ps ps--theme_default" data-ps-id="8de590af-0be6-e9ff-ca9e-6a4e8bb1f932">
                        <div class="minicart-prd row">
                            <div class="minicart-prd-image image-hover-scale-circle col">
                                <a href="product.html"><img class="fade-up lazyloaded" src="images/skins/fashion/products/product-16-1.webp" data-src="images/skins/fashion/products/product-16-1.webp" alt=""></a>
                            </div>
                            <div class="minicart-prd-info col">
                                <div class="minicart-prd-tag">FOXic</div>
                                <h2 class="minicart-prd-name"><a href="#">Cascade Casual Shirt</a></h2>
                                <div class="minicart-prd-qty"><span class="minicart-prd-qty-label">Quantity:</span><span class="minicart-prd-qty-value">1</span></div>
                                <div class="minicart-prd-price prd-price">
                                    <div class="price-old">$200.00</div>
                                    <div class="price-new">$180.00</div>
                                </div>
                            </div>
                            <div class="minicart-prd-action">
                                <a href="#" class="js-product-remove" data-line-number="2"><i class="icon-recycle"></i></a>
                            </div>
                        </div>
                        <div class="minicart-empty js-minicart-empty d-none">
                            <div class="minicart-empty-text">Your cart is empty</div>
                            <div class="minicart-empty-icon">
                                <i class="icon-shopping-bag"></i>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 306 262" style="enable-background:new 0 0 306 262;" xml:space="preserve"><path class="st0" d="M78.1,59.5c0,0-37.3,22-26.7,85s59.7,237,142.7,283s193,56,313-84s21-206-69-240s-249.4-67-309-60C94.6,47.6,78.1,59.5,78.1,59.5z"></path></svg>
                            </div>
                        </div>
                        <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                    </div>
                    <div class="minicart-drop-fixed js-hide-empty">
                        <div class="loader-horizontal-sm js-loader-horizontal-sm" data-loader-horizontal=""><span></span></div>
                        <div class="minicart-drop-total js-minicart-drop-total row no-gutters align-items-center">
                            <div class="minicart-drop-total-txt col-auto heading-font">Subtotal</div>
                            <div class="minicart-drop-total-price col" data-header-cart-total="">$340</div>
                        </div>
                        <div class="minicart-drop-actions">
                            <a asp-controller="Cart" asp-action="Index" class="btn btn--md btn--grey"><i class="icon-basket"></i><span>Cart Page</span></a>
                            <a href="checkout.html" class="btn btn--md"><i class="icon-checkout"></i><span>Check out</span></a>
                        </div>
                    </div>
                </div>
                <div class="drop-overlay js-dropdn-close"></div>
            </div>*@
    </div>
    <div class="page-content">
        @RenderBody()
    </div>

    <footer class="page-footer footer-style-6 ">
        <div class="holder ">
            <div class="footer-shop-info">
                <div class="container">
                    <div class="text-icn-blocks-bg-row">
                        <div class="text-icn-block-footer">
                            <div class="icn">
                                <i class="icon-trolley"></i>
                            </div>
                            <div class="text">
                                <h4>Extra fast delivery</h4>
                                <p>Your order will be delivered 3-5 business days after all of your items are available</p>
                            </div>
                        </div>
                        <div class="text-icn-block-footer">
                            <div class="icn">
                                <i class="icon-currency"></i>
                            </div>
                            <div class="text">
                                <h4>Best price</h4>
                                <p>We'll match the product prices of key online and local competitors for immediately</p>
                            </div>
                        </div>
                        <div class="text-icn-block-footer">
                            <div class="icn">
                                <i class="icon-diplom"></i>
                            </div>
                            <div class="text">
                                <h4>Guarantee</h4>
                                <p>If the item you want is available, we can process a return and place a new order</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top">
            <div class="container">
                <div class="row mt-0">
                    <div class="col-lg col-xl last-mobile">
                        <div class="footer-block">
                            <div class="footer-logo">
                                <a href="index.html"><img class="lazyload fade-up" data-src="https://github.com/khoabm/A-Corner-Of-Books/blob/main/ACornerOfBooks/src/main/webapp/assets/images/logo_amban.png?raw=trueF" alt="Logo"></a>
                            </div>
                            <div class="collapsed-content">
                                <ul>
                                    <li>E-mail: <a href="#">Cornerofbooks@companny.com</a></li>
                                    <li>(+84) 98-773-0862</li>
                                    <li>123, Fake Street, Fake Towns, Fake Building</li>
                                </ul>
                            </div>
                            @*<ul class="social-list">
                                <li>
                                <a href="#" class="icon icon-facebook"></a>
                                </li>
                                <li>
                                <a href="#" class="icon icon-twitter"></a>
                                </li>
                                <li>
                                <a href="#" class="icon icon-google"></a>
                                </li>
                                <li>
                                <a href="#" class="icon icon-vimeo"></a>
                                </li>
                                <li>
                                <a href="#" class="icon icon-youtube"></a>
                                </li>
                                <li>
                                <a href="#" class="icon icon-pinterest"></a>
                                </li>
                                </ul>*@
                            @*<div class="d-lg-none mt-3">
                                <div class="box-coupon">
                                <div class="box-coupon-icon"><i class="icon-scissors"></i></div>
                                <div class="box-coupon-text"><span class="custom-color">FOXIC</span> THEME</div>
                                </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-lg col-xl">
                        <div class="footer-block collapsed-mobile">
                            <div class="title">
                                <h4>Our Best's Content</h4>
                                <span class="toggle-arrow"><span></span><span></span></span>
                            </div>
                            <div class="collapsed-content">
                                <ul>
                                    <li><a href="about.html">Fiction</a></li>
                                    <li><a href="contact.html">Horror</a></li>
                                    <li><a href="typography.html">Non-fiction</a></li>
                                    <li><a href="typography.html">Thriller</a></li>
                                    <li><a href="typography.html">Science fiction</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg col-xl">
                        <div class="footer-block collapsed-mobile">
                            <div class="title">
                                <h4>ABC</h4>
                                <span class="toggle-arrow"><span></span><span></span></span>
                            </div>
                            <div class="collapsed-content">
                                <ul>
                                    <li><a href="account-details.html">Biography</a></li>
                                    <li><a href="cart.html">Fantasy</a></li>
                                    <li><a href="account-wishlist.html">Classics</a></li>
                                    <li><a href="account-history.html">Young-adult</a></li>
                                    <li><a href="account-history.html">LGBTQ+</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg col-xl">
                        <div class="footer-block collapsed-mobile">
                            <div class="title">
                                <h4>Help &amp; Information</h4>
                                <span class="toggle-arrow"><span></span><span></span></span>
                            </div>
                            <div class="collapsed-content">
                                <ul>
                                    <li><a href="account-details.html">Home</a></li>
                                    <li><a href="cart.html">About Us</a></li>
                                    <li><a href="cart.html">Contact Us</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-sticky">
        <a class="back-to-top js-back-to-top compensate-for-scrollbar is-visible" href="#" title="Scroll To Top">
            <i class="icon icon-angle-up"></i>
        </a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/vendor-special/lazysizes.min.js"></script>
    <script src="~/js/vendor-special/ls.bgset.min.js"></script>
    <script src="~/js/vendor-special/ls.aspectratio.min.js"></script>
    <script src="~/js/vendor-special/jquery.min.js"></script>
    <script src="~/js/vendor-special/jquery.ez-plus.js"></script>
    <script src="~/js/vendor/vendor.min.js"></script>
    <script src="~/js/app-html.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/rater.js"></script>
    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/JavaScript.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    }
</body>
</html>