@model IEnumerable<Repository.Entities.Book>

@foreach (var item in Model)
{
    <div style="max-width: 25%; min-width: 25%; margin:5% 0 0 0" class="prd--style2 prd-labels--max prd-labels-shadow ">
        <div class="prd-inside">
            <div class="prd-img-area">
                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.BookId">
                    <img style="max-height:300px" data-src="@item.ImageLink" alt="Fashion Waist Bag" class="js-prd-img lazyload fade-up">
                </a>
            </div>
            <div class="prd-info">
                <div class="prd-info-wrap">
                    <div class="prd-rating justify-content-center">
                        @for (int i = 0; i < 5; i++)
                        {
                            if (i < item.AverageRating)
                            {
                                <i class="icon-star-fill fill"></i>
                            }
                            else
                            {
                                <i class="icon-star-fill"></i>
                            }
                        }
                    </div>
                    <div class="prd-tag"><a asp-controller="Book" asp-action="Index" asp-route-query="@item.Author">@item.Author</a></div>
                    <h3 class="prd-title book-title"><a asp-controller="Book" asp-action="Index" asp-route-id="@item.BookId">@item.Title</a></h3>
                </div>
            </div>
        </div>
        </div>
}
