@model IEnumerable<Repository.Entities.Cart>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>Cart</span></li>
            </ul>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="page-title text-center">
                <h1>Your Shopping Cart</h1>
            </div>
            <div class="row">
                <div class="col-lg-11 col-xl-13">
                    <form asp-controller="Cart" asp-action="UpdateCartItem" method="post">
                        <div class="cart-table">
                            <div class="cart-table-prd cart-table-prd--head py-1 d-none d-md-flex">
                                <div class="cart-table-prd-image text-center">
                                    Image
                                </div>
                                <div class="cart-table-prd-content-wrap">
                                    <div class="cart-table-prd-info">Name</div>
                                    <div class="cart-table-prd-qty">Qty</div>
                                    <div class="cart-table-prd-price">Price</div>
                                    <div class="cart-table-prd-action">&nbsp;</div>
                                </div>
                            </div>

                            @foreach (var cartItem in Model)
                            {
                                <div class="cart-table-prd">
                                    <div class="cart-table-prd-image">
                                        <a asp-controller="Book" asp-action="Details" asp-route-id="@cartItem.Book.BookId">
                                            <img class="lazyload fade-up" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@cartItem.Book.ImageLink" alt="">
                                        </a>
                                    </div>
                                    <div class="cart-table-prd-content-wrap">
                                        <div class="cart-table-prd-info">
                                            <div class="cart-table-prd-price">
                                                <div class="price-new">@($"{cartItem.Book.Price:C}")</div>
                                            </div>
                                            <h2 class="cart-table-prd-name"><a asp-controller="Book" asp-action="Details" asp-route-id="@cartItem.Book.BookId">@cartItem.Book.Title</a></h2>
                                        </div>
                                        <div class="cart-table-prd-qty">
                                            <div class="qty qty-changer">
                                                <button class="decrease"></button>
                                                <input style="min-width: 50px;" type="number" class="qty-input" value="@cartItem.Quantity" min="1" max="@cartItem.Book.QuantityLeft" name="quantity[@cartItem.Book.BookId]">
                                                <button class="increase"></button>
                                            </div>
                                        </div>
                                        <div class="cart-table-prd-price-total">@($"{cartItem.Book.Price * cartItem.Quantity:C}")</div>
                                        <div class="cart-table-prd-action">
                                            @*<form asp-controller="Cart" asp-action="Delete" method="post">
                                                <input type="hidden" name="id" value="@cartItem.CartId" />
                                                <button type="submit" class="cart-remove cart-table-prd-remove" style="background: white; border: none;"><i class="icon-recycle"></i></button>
                                                </form>*@
                                            <button type="button" class="cart-remove cart-table-prd-remove" style="background: white; border: none;" onclick="deleteCartItem(@cartItem.CartId)"><i class="icon-recycle"></i></button>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="text-center mt-1">
                                <button type="submit" class="btn btn--grey"><span>UPDATE CART</span><i class="icon-refresh"></i></button>
                            </div>

                        </div>
                    </form>
                    <form asp-controller="Cart" asp-action="DeleteAll" method="post">
                        <div class="text-center mt-1">
                            <button type="submit" class="btn btn--grey">Clear All</button>
                        </div>
                    </form>
                    <button type="submit" class="btn btn--grey">
                        <a asp-controller="Order" asp-action="ListOrders">
                            <span>Back to Orders</span><i class="icon-refresh"></i>
                        </a>
                    </button>
                </div>
                <div class="col-lg-7 col-xl-5 mt-3 mt-md-0">
                    <form asp-action="Checkout" asp-controller="Order">
                    <div class="card-total">
                        @*<div class="text-left">
                            <button class="btn btn--grey"><span>UPDATE CART</span><i class="icon-refresh"></i></button>
                            </div>*@
                        <div class="row d-flex">
                            <div class="col card-total-txt">Total</div>
                            <div class="col-auto card-total-price text-right">@($"{Model.Sum(c => c.Book.Price * c.Quantity):C}")</div>
                        </div>
                        <button type="submit" class="btn btn--full btn--lg"><span>Checkout</span></button>
                            <input type="hidden" name="total" value="@Model.Sum(c => c.Book.Price * c.Quantity)" />
                        <div class="card-text-info text-right">
                            <h5>Standart shipping</h5>
                            <p><b>10 - 11 business days</b><br>1 item ships from the U.S. and will be delivered in 10 - 11 business days</p>
                        </div>
                    </div>
                    <div class="mt-2"></div>
                    <div class="panel-group panel-group--style1 prd-block_accordion" id="productAccordion">
                        <div class="panel">
                            <div class="panel-heading active">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#productAccordion" href="#collapse1">Your personal information</a>
                                    <span class="toggle-arrow"><span></span><span></span></span>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse show">
                                <div class="panel-body">
                                    <label>Address:</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control--sm" name="address">
                                    </div>
                                    <label>Phone:</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control--sm" name="phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    // Get all input elements and buttons
    var inputs = document.querySelectorAll('.qty-input');
    var increaseBtns = document.querySelectorAll('.increase');
    var decreaseBtns = document.querySelectorAll('.decrease');

    // Add event listeners to each button
    for (var i = 0; i < increaseBtns.length; i++) {
        increaseBtns[i].addEventListener('click', function() {
            increaseQty(this);
        });
    }
    for (var i = 0; i < decreaseBtns.length; i++) {
        decreaseBtns[i].addEventListener('click', function() {
            decreaseQty(this);
        });
    }

    // Function to increase the quantity
    function increaseQty(btn) {
    var parent = btn.parentElement;
    var input = parent.querySelector('.qty-input');
    var max = parseInt(input.getAttribute('max'));
    var value = parseInt(input.value);

    if (!isNaN(max) && value < max) {
        input.value = value + 1;
    } else if (!isNaN(max) && value >= max) {
        input.value = max;
    }
    }


    // Function to decrease the quantity
    function decreaseQty(btn) {
        var parent = btn.parentElement;
        var input = parent.querySelector('.qty-input');
        var min = parseInt(input.getAttribute('min'));
        var value = parseInt(input.value);

        if (!isNaN(min) && value > min) {
            input.value = value - 1;
        }
    }

    function deleteCartItem(cartItemId) {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '@Url.Action("Delete", "Cart")';
            form.style.display = 'none';

            var idInput = document.createElement('input');
            idInput.type = 'hidden';
            idInput.name = 'id';
            idInput.value = cartItemId;

            var tokenInput = document.createElement('input');
            tokenInput.type = 'hidden';
            tokenInput.name = '__RequestVerificationToken';
            tokenInput.value = $('input[name="__RequestVerificationToken"]').val();

            form.appendChild(idInput);
            form.appendChild(tokenInput);

            document.body.appendChild(form);
            form.submit();
    }
</script>
}
