@using Repository.Entities
@model Repository.Entities.Book

@{
    ViewData["Title"] = "Details";
    var genres = ViewBag.BookGenres as List<Genre>;
}
<div class="page-content">
    <div class="holder">
        <div class="container js-prd-gallery" id="prdGallery">
            <div class="row prd-block prd-block-under prd-block--prv-bottom">
                <div class="col">
                    <div class="js-prd-d-holder">
                        <div class="prd-block_title-wrap">
                            <div class="prd-block_reviews" data-toggle="tooltip" data-placement="top" title="Scroll To Reviews">
                                <i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star"></i>
                                <span class="reviews-link"><a href="#" class="js-reviews-link"> (17 reviews)</a></span>
                            </div>
                            <h1 class="prd-block_title">@Html.DisplayFor(model => model.Title)</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row prd-block prd-block--prv-bottom">
                <div class="col-md-8 col-lg-8 col-xl-8 aside--sticky js-sticky-collision">
                    <div class="aside-content">
                        <div class="mb-2 js-prd-m-holder">
                        </div>
                        <div class="prd-block_main-image">
                            <div class="prd-block_main-image-holder" id="prdMainImage">
                                <div class="product-main-carousel js-product-main-carousel">
                                    <div data-value="Beige"><span class="prd-img"><img src="@Html.DisplayFor(model=>model.ImageLink)" class="lazyload fade-up" alt="" /></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-lg-10 col-xl-10 mt-1 mt-md-0">
                    <div class="prd-block_info prd-block_info--style1" data-prd-handle="/products/copy-of-suede-leather-mini-skirt">
                        <div class="prd-block_info-top prd-block_info_item order-0 order-md-2">
                            <div class="prd-block_price prd-block_price--style2">
                                <div class="prd-block_price--actual">@Html.DisplayFor(model => model.Price) $</div>
                            </div>
                        </div>
                        <div class="prd-block_description prd-block_info_item ">
                            <h3>Description</h3>
                            <p>@Html.DisplayFor(model => model.Description)</p>
                            <div class="mt-1"></div>
                        </div>
                        <div class="prd-block_info_item prd-block_info-when-arrives d-none" data-when-arrives>
                            <div class="prd-block_links prd-block_links m-0 d-inline-flex">
                                <i class="icon-email-1"></i>
                                <div><a href="#" data-follow-up="" data-name="Oversize Cotton Dress" class="prd-in-stock" data-src="#whenArrives">Inform me when the item arrives</a></div>
                            </div>
                        </div>
                        <div class="prd-block_info-box prd-block_info_item">
                            <div class="two-column">
                                <p>
                                    In stock:
                                    <span class="prd-in-stock" data-stock-status="">@Html.DisplayFor(model=>model.QuantityLeft)</span>
                                </p>
                                <p>
                                    @Html.DisplayNameFor(model => model.Author):
                                    <span class="prd-author" data-stock-status="">@Html.DisplayFor(model => model.Author)</span>
                                </p>
                                <p class="prd-taxes">
                                    @Html.DisplayNameFor(model => model.Publisher):
                                    <span>@Html.DisplayFor(model => model.Publisher)</span>
                                </p>
                                <p>
                                    Genre:
                                    @foreach (var item in genres)
                                    {
                                        <span class="" data-stock-status="">
                                            @item.GenreName
                                            @if ((genres.Count >= 2) && (!item.Equals(genres[genres.Count-1])))
                                            {
                                                <text>,</text>
                                            }
                                        </span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="order-0 order-md-100">
                            <form method="post" asp-controller="Cart" asp-action="AddToCart">
                                <div class="prd-block_actions prd-block_actions--wishlist">
                                    <div class="prd-block_qty">
                                        <div class="qty qty-changer">
                                            <button class="decrease js-qty-button"></button>
                                            <input type="number" class="qty-input" name="quantity" value="1" data-min="1" data-max="@Model.QuantityLeft">
                                            <button class="increase js-qty-button"></button>
                                        </div>
                                    </div>
                                    <div class="btn-wrap">
                                        <input type="hidden" name="bookId" value="@Model.BookId" />
                                        <button type="submit" class="btn btn--add-to-cart js-trigger-addtocart js-prd-addtocart">Add to cart</button>
                                    </div>
                                    <div class="btn-wishlist-wrap">
                                        <a href="#" class="btn-add-to-wishlist ml-auto btn-add-to-wishlist--add js-add-wishlist" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a>
                                        <a href="#" class="btn-add-to-wishlist ml-auto btn-add-to-wishlist--off js-remove-wishlist" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-@TempData["MessageType"]" role="alert" style="background-color: #17c6aa">
                                @TempData["Message"]
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="holder mt-3 mt-md-5">
        <div class="container">
            <ul class="nav nav-tabs product-tab">
                <li class="nav-item">
                    <a href="#Tab5" class="nav-link" data-toggle="tab">
                        Reviews
                        <span class="toggle-arrow"><span></span><span></span></span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="Tab5">
                    <div id="productReviews">
                        <div class="row align-items-center">
                            <div class="col"><h2>CUSTOMER REVIEWS</h2></div>
                            <div class="col-18 col-md-auto mb-3 mb-md-0"><a href="#" class="review-write-link"><i class="icon-pencil"></i>Write review</a></div>
                        </div>
                        <div id="productReviewsBottom">
                            <div class="review-item">
                                <div class="review-item_rating">
                                    <i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i>
                                </div>
                                <div class="review-item_top row align-items-center">
                                    <div class="col"><h5 class="review-item_author">Jaden Ngo on May 25, 2018</h5></div>
                                    <div class="col-auto"><a href="#" class="review-item_report">Report as Inappropriate</a></div>
                                </div>
                                <div class="review-item_content">
                                    <h4>Good ball and company</h4>
                                    <p>I recently bought this ball and this is the first ball that I actually buy based on quality and material, I always been playing my friend ball and one of them recommended me this, read some review online and decided to buy it, the ball feel sticky at first but quality is nice and the hand wrote letter was awesome because it shows how much season creator actually care about their customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(document).ready(function() {
      var maxQuantity = parseInt($(".qty-input").attr("data-max"));

      $(".qty-input").on("change", function() {
        var currentValue = parseInt($(this).val());

        if (currentValue > maxQuantity) {
          $(this).val(maxQuantity);
        }
      });
    });
</script>
}