@model Repository.Entities.Customer;
@using SE1611_PRN221_ASM.Helper
@inject IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;

    var userSession = session.GetObject<UserSession>("UserSession");

}
<partial name="_Notification" />
<div class="holder breadcrumbs-wrap mt-0">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><span>My account</span></li>
        </ul>
    </div>
</div>
<div class="holder">
    <div class="container">
        <div class="row">
            <div class="col-md-4 aside aside--left">
                <div class="list-group">
                    <a asp-controller="Account" asp-action="Details" class="list-group-item active">Account Details</a>
                    @if (userSession!.AccountType == 1)
                    {
                        <a asp-controller="Account" asp-action="ChangePassword" class="list-group-item">Change Password</a>
                    }
                    <a asp-controller="Favorite" asp-action="Index" class="list-group-item">My Favorite</a>
                    <a asp-controller="Order" asp-action="ListOrders" class="list-group-item">My Order History</a>
                </div>
            </div>
            <div class="col-md-14 aside">
                <h1 class="mb-3">Account Details</h1>
                <div class="row vert-margin">
                    <div class="col-sm-9">
                        <div class="card">
                            <div class="card-body">
                                <h3>Personal Info</h3>
                                <p>
                                    <b>Full Name: </b>@Model.Name<br />
                                    <b>E-mail: </b>@userSession!.Email<br />
                                    <b>Birthday: </b>@Model.Birthday?.ToString("MM/dd/yyyy")<br />
                                    <b>Gender: </b>@((Model.Gender ?? string.Empty).Equals("M") ? "Male" : ((Model.Gender ?? string.Empty).Equals("F") ? "Female" : ""))
                                </p>
                                <div class="mt-2 clearfix">
                                    <a href="#" class="link-icn btn js-show-form" data-form="#updateDetails"><i class="icon-pencil"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3 d-none" id="updateDetails">
                    <form asp-action="update" method="post">
                        <div class="card-body">
                            <h3>Update Account Details</h3>

                            <div class="row mt-2">
                                <div class="col-sm-9">
                                    <label class="text-uppercase">Full Name:</label>
                                    <div class="form-group">
                                        <input asp-for="@Model.Name" type="text" class="form-control form-control--sm" placeholder="Full Name" value="@Model.Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mt-2">
                                <div class="col-sm-9">
                                    <label class="text-uppercase">E-mail:</label>
                                    <div class="form-group">
                                        <input readonly type="email" class="form-control form-control--sm" placeholder="Email" value="@userSession.Email">
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <label class="text-uppercase">Date Of Birth:</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Birthday, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control datepicker", value = Model.Birthday.HasValue ? Model.Birthday?.ToString("yyyy-MM-dd") : "" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="male" value="M"
                                           checked="@((Model.Gender ?? "") == "M")"
                                           asp-for="@Model.Gender" />
                                    <label class="form-check-label" for="male">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="female" value="F"
                                           checked="@((Model.Gender ?? "") == "F")"
                                           asp-for="@Model.Gender" />
                                    <label class="form-check-label" for="female">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="reset" class="btn btn--alt btn--grey js-close-form" data-form="#updateDetails">Cancel</button>
                            <button type="submit" class="btn ml-1">Update</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>
