@model IEnumerable<Repository.Entities.Order>
@using SE1611_PRN221_ASM.Helper
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Orders";
    var session = HttpContextAccessor.HttpContext.Session;
    var userSession = session.GetObject<UserSession>("UserSession");
    int i = 1;
}

<partial name="_Notification" />
<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>My account</span></li>
            </ul>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="row">
                <div class="col-md-4 aside aside--left">
                    <div class="list-group">
                        <a asp-controller="Account" asp-action="Details" class="list-group-item ">Account Details</a>
                        @if (userSession!.AccountType == 1)
                        {
                            <a asp-controller="Account" asp-action="ChangePassword" class="list-group-item">Change Password</a>
                        }
                        <a asp-controller="Favorite" asp-action="Index" class="list-group-item">My Favorite</a>
                        <a asp-controller="Order" asp-action="Index" class="list-group-item active">My Order</a>
                    </div>
                </div>
                <div class="col-md-14 aside">
                    <h1 class="mb-3">Order History</h1>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-order-history">
                            <thead>
                                <tr>
                                    <th scope="col">Order</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@order.Address</td>
                                        <td>@order.Phone</td>
                                        <td>
                                            @if (order.Status == 0)
                                            {
                                                <span class="status--process" value="0">Pending</span>
                                            }
                                            else if (order.Status == 1)
                                            {
                                                <span class="status--process" value="1">Accepted</span>
                                            }
                                            else if (order.Status == 2)
                                            {
                                                <span class="status--process" value="2">Delivering</span>
                                            }
                                            else if (order.Status == 3)
                                            {
                                                <span class="status--process" value="3">Delivered</span>
                                            }
                                            else if (order.Status == 4)
                                            {
                                                <span class="status--process" value="4">Canceled</span>
                                            }
                                        </td>
                                        <td>@order.PlaceDate!.Value.ToString("MM/dd/yyyy")</td>
                                        <td>@($"{order.TotalAmount:C}")</td>
                                        <td><a asp-controller="Order" asp-action="Details" asp-route-id="@order.OrderId" class="btn btn--grey btn--sm">View Details</a></td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                    @*<div class="text-right mt-2">
                        <a asp-controller="Order" asp-action="DeleteAll" class="btn btn--alt">Clear History</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>