@using Repository.Entities
@model IEnumerable<Repository.Entities.OrderDetail>

@{
    var order = ViewBag.Order as Order;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Notification" />
<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><span>Orders</span></li>
            </ul>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="page-title text-center">
                <h1 class="custom-color">Order Details</h1>
            </div>
            <div class="row">
                <div class="col-lg-11 col-xl-13">
                    <div class="cart-table">
                        <div class="cart-table-prd cart-table-prd--head py-1 d-none d-md-flex">
                            <div class="cart-table-prd-image">
                                Image
                            </div>
                            <div class="cart-table-prd-content-wrap">
                                <div class="cart-table-prd-info">Name</div>
                                <div class="cart-table-prd-qty text-right">Qty</div>
                                <div class="cart-table-prd-price">Price</div>
                                <div class="cart-table-prd-action">&nbsp;</div>
                            </div>
                        </div>

                        @foreach (var item in Model)
                        {
                            <div class="cart-table-prd">
                                <div class="cart-table-prd-image">
                                    <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Book.BookId">
                                        <img class="lazyload fade-up" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@item.Book.ImageLink" alt="">
                                    </a>
                                </div>
                                <div class="cart-table-prd-content-wrap">
                                    <div class="cart-table-prd-info">
                                        <div class="cart-table-prd-price">
                                            <div class="price-new">@($"{item.Book.Price:C}")</div>
                                        </div>
                                        <h2 class="cart-table-prd-name"><a asp-controller="Book" asp-action="Details" asp-route-id="@item.Book.BookId">@item.Book.Title</a></h2>
                                    </div>
                                    <div class="cart-table-prd-qty">
                                        <div class="qty qty-changer">
                                            <div class="price-new">@item.Quantity</div>

                                        </div>
                                    </div>
                                    <div class="cart-table-prd-price-total text-left">@($"{item.Book.Price * item.Quantity:C}")</div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <a asp-controller="Order" asp-action="Index" class="btn btn--grey mr-1"><span>Order History</span></a>
                        @if (order.Status == 0)
                        {
                                <a class="btn btn-outline-danger mr-1" id="CancelButton">Cancel order</a>
                                <form asp-controller="Order" asp-action="CancelOrder" asp-route-id="@order.OrderId">
                                    <button class="btn mr-1" type="submit" id="ConfirmButton" style="display:none">Confirm</button>
                                </form>
                        }
                        else
                        {
                            <a class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom" data-original-title="You can only cancel when your order is not confirm" disabled href="">Cancel order</a>
                        }
                    </div>
                </div>
                <div class="col-lg-7 col-xl-5 mt-3 mt-md-0">

                    <div class="card-total">
                        <div class="row d-flex">
                            <div class="col card-total-txt">Total:</div>
                            <div class="col-auto card-total-price text-right">@($"{Model.Sum(c => c.Book.Price * c.Quantity):C}")</div>
                        </div>
                    </div>
                    <div class="mt-2"></div>
                    <div class="panel-group panel-group--style1 prd-block_accordion" id="productAccordion">
                        <div class="panel">
                            <div id="collapse1" class="panel-collapse collapse show">
                                <div class="panel-body">
                                    <label>Address:</label>
                                    <div class="form-group">
                                        <span class="form-control form-control--sm" name="address">@order.Address</span>
                                    </div>
                                    <label>Phone:</label>
                                    <div class="form-group">
                                        <span class="form-control form-control--sm" name="phone">@order.Phone</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#CancelButton').click(function() {
            $('#ConfirmButton').animate({ width: 'toggle' });
        });
    </script>
}
